<div class="section_outline" data-ng-controller="SectionsController" data-ng-init="init()">
	section {{section.year}}  {{section.term}}  {{section.section}}
    <button type="button" data-ng-click="addSection()"> Add Section </button>
        <button type="button" data-ng-click="uploadPage()">
        Upload Note
    </button>
    <div class="" ng-repeat="lecture in section.notes">
        <div style="margin-bottom: 15px;" class="col-lg-3 col-md-6 col-xs-12">
            <rd-widget>
                <a ui-sref="lecture({ courseId: courseId, sectionId: sectionId, lectureId: lecture._id })">
                    <div class="widget" ng-transclude="">
                        <rd-widget-body class="ng-scope ng-isolate-scope">
                            <div class="widget-body" ng-class="classes">
                                <rd-loading ng-show="loading" class="ng-hide">
                                    <div class="loading">
                                        <div class="double-bounce1"></div>
                                        <div class="double-bounce2"></div>
                                    </div>
                                </rd-loading>
                                <div ng-hide="loading" class="widget-content" ng-transclude="">
                                    <!-- <div class="widget-icon green pull-left ng-scope">
                                        <i class="fa fa-users"></i>
                                    </div> -->
                                    <div class="title ng-scope">{{lecture.name}}</div>
                                    <div class="comment ng-scope">{{lecture.date}}</div>
                                </div>
                            </div>
                        </rd-widget-body>
                    </div>
                </a>
            </rd-widget>
        </div>
    </div>
</div>
