.course_accordion {
    float: left;
    margin-right: 50px;
    padding: 10px;
    width: 250px;
    top: 50px;
    bottom: 0px;
    position: fixed;
  	background-color: #132035;
}
.main_panel {
    margin-left: 250px;
  	padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 60px;
}
.course_outline_panel {
	    position: absolute;
	margin: 10px;
	left: 0;
    right: 0;
    bottom: 0;
    top: 0;
	background-color: #fff;
}
.course_notes_panel {
	position: absolute;
	margin: 10px;
	left: 0;
    right: 0;
    bottom: 0;
    top: 0;
	background-color: #fff;
}


/**temp**/
.search {
	margin-left: 250px
}